APP_NAME="mini-RAG"
APP_VERSION="0.1"







FILE_ALLOWED_TYPES=["text/plain", "application/pdf"]
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512000






POSTGRES_USER="postgres"
POSTGRES_PASSWORD="PASSWORD"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_MAIN_DATABASE="minirag"


GENERATION_BACKEND=OPENAI
EMBEDDING_BACKEND=OPENAI


OPENAI_API_KEY="dummy"
OPENAI_API_URL=
COHERE_API_KEY="dummy"


GENERATION_MODEL_ID="qwen2.5:7b-instruct"
EMBEDDING_MODEL_ID="nomic-embed-text"
EMBEDDING_MODEL_SIZE=768


INPUT_DAFAULT_MAX_CHARACTERS=1024
GENERATION_DAFAULT_MAX_TOKENS=200
GENERATION_DAFAULT_TEMPERATURE=0.1

VECTOR_DB_BACKEND=PGVECTOR
VECTOR_DB_PATH=
VECTOR_DB_DISTANCE_METHOD=cosine


PRIMARY_LANG=ar
DEFAULT_LANG=ar




AGRO_LIB_BASE_URL=dummy
AGRO_LIB_CRAWL_DELAY=1.0
DEFAULT_KB_PROJECT_ID=1

